<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="SftpHost" value="127.0.0.1"/>
		<add key="SftpPort" value="22"/>
		<add key="SftpUsername" value="khazi"/>
		<add key="SftpPassword" value="T!MeT0W0Rk123"/>
		<add key="RemoteFilePath" value="/path/to/remote/file.txt"/>
		<add key="LocalFilePath" value="C:\Users\khazi\Downloads\file.txt"/>
	</appSettings>
</configuration>
