<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="SftpHost" value="127.0.0.1"/>
		<add key="SftpPort" value="22"/>
		<add key="SftpUsername" value="xxx"/>
		<add key="SftpPassword" value="xxx"/>
		<add key="RemoteFilePath" value="/uploads/file.txt"/>
		<add key="LocalFilePath" value="C:\Users\username\Downloads\file.txt"/>
	</appSettings>
</configuration>